@model EnvioDTO

<div class="container mt-5 bg-dark text-light p-4 rounded shadow-lg">
    <h2 class="mb-4 text-center">Detalles del Envío</h2>

    <div class="mb-3">
        <p><strong>Tracking:</strong> @Model.NumTracking</p>
        <p><strong>Empleado:</strong> @Model.EmpleadoId</p>
        <p><strong>Cliente:</strong> @Model.ClienteId</p>
        <p><strong>Peso:</strong> @Model.Peso</p>
        <p><strong>Estado:</strong> @Model.Estado</p>
    </div>

    <a asp-action="Buscar" class="btn btn-outline-light">Volver</a>
</div>
